# Local
.DS_Store
.vscode
yarn-error.log

# Build
node_modules
typechain
dist

# Test
coverage
.env

# Yarn 3 / Berry
.yarn/*
.yarn/cache
.yarn/patches
.yarn/plugins
.yarn/releases
.yarn/sdks
.yarn/versions
